.inner-body {
    padding: 30px;
}

.suggested-exams {
    padding-bottom: 20px;
    padding-top: 8px;
}

/* .patient-info {
   position: sticky;
   align-self: left;
} */

.patient-info-table {
    width:100%;
}

.patient-info-table, th, td {
    border: 2px groove;
    padding-left: 15px;
    padding-right: 15px;
    padding-block: 4px;
}

tr:hover {
    background-color: rgb(255, 235, 235);
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

.header {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }